.App {
  text-align: center;
}

#header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 0 15px 0;
}

#logo-container {
    text-align: right;
}

#logo {
    height: 38px;
}

#login-container {
    grid-column: 3;
    text-align: left;
}

#banner {
    height: 400px;
    background-color: grey;
    color: white;

    padding-top: 75px;
}

#banner > h1 {
    font-size: 75px;
    margin-bottom: 0px;
}

#banner > p {
    margin: 5px;
}
