.App {
  text-align: center;
}

#header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 0 15px 0;
}

#logo-container {
    text-align: right;
}

#logo {
    height: 38px;
}

#login-container {
    grid-column: 3;
    text-align: left;
}
